<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iidooo.gauge.mapper.GaugeDriverMapper" >
  <resultMap id="BaseResultMap" type="com.iidooo.gauge.model.po.GaugeDriver" >
    <id column="DriverID" property="driverID" jdbcType="INTEGER" />
    <result column="FirstName" property="firstName" jdbcType="VARCHAR" />
    <result column="LastName" property="lastName" jdbcType="VARCHAR" />
    <result column="Birthday" property="birthday" jdbcType="DATE" />
    <result column="License" property="license" jdbcType="VARCHAR" />
    <result column="LicenseType" property="licenseType" jdbcType="VARCHAR" />
    <result column="ValidStart" property="validStart" jdbcType="DATE" />
    <result column="ValidEnd" property="validEnd" jdbcType="DATE" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UpdateUserID" property="updateUserID" jdbcType="INTEGER" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CreateUserID" property="createUserID" jdbcType="INTEGER" />
    <result column="IsDelete" property="isDelete" jdbcType="INTEGER" />
    <result column="Version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    DriverID, FirstName, LastName, Birthday, License, LicenseType, ValidStart, ValidEnd, 
    Phone, Remarks, UpdateTime, UpdateUserID, CreateTime, CreateUserID, IsDelete, Version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gauge_driver
    where DriverID = #{driverID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gauge_driver
    where DriverID = #{driverID,jdbcType=INTEGER}
  </delete>
  
	<!-- 插入一个新的驾驶员对象 -->
  <insert id="insert" useGeneratedKeys="true" keyProperty="driverID" parameterType="com.iidooo.gauge.model.po.GaugeDriver" >
    insert into gauge_driver
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="firstName != null" >
        FirstName,
      </if>
      <if test="lastName != null" >
        LastName,
      </if>
      <if test="birthday != null" >
        Birthday,
      </if>
      <if test="license != null" >
        License,
      </if>
      <if test="licenseType != null" >
        LicenseType,
      </if>
      <if test="validStart != null" >
        ValidStart,
      </if>
      <if test="validEnd != null" >
        ValidEnd,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="updateUserID != null" >
        UpdateUserID,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="createUserID != null" >
        CreateUserID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="firstName != null" >
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null" >
        #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="license != null" >
        #{license,jdbcType=VARCHAR},
      </if>
      <if test="licenseType != null" >
        #{licenseType,jdbcType=VARCHAR},
      </if>
      <if test="validStart != null" >
        #{validStart,jdbcType=DATE},
      </if>
      <if test="validEnd != null" >
        #{validEnd,jdbcType=DATE},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="updateUserID != null" >
        #{updateUserID,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserID != null" >
        #{createUserID,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <!-- 更新一个驾驶员信息通过其ID -->
  <update id="updateByPrimaryKey" parameterType="com.iidooo.gauge.model.po.GaugeDriver" >
    update gauge_driver
    <set >
      <if test="firstName != null" >
        FirstName = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null" >
        LastName = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        Birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="license != null" >
        License = #{license,jdbcType=VARCHAR},
      </if>
      <if test="licenseType != null" >
        LicenseType = #{licenseType,jdbcType=VARCHAR},
      </if>
      <if test="validStart != null" >
        ValidStart = #{validStart,jdbcType=DATE},
      </if>
      <if test="validEnd != null" >
        ValidEnd = #{validEnd,jdbcType=DATE},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="updateUserID != null" >
        UpdateUserID = #{updateUserID,jdbcType=INTEGER},
      </if>
        Version = Version + 1
    </set>
    where DriverID = #{driverID,jdbcType=INTEGER}
  </update>
</mapper>